# Data Exploration, Cleaning, and General Engineering

The wind model notebook perfomed cleaning and feature engineering operations on the dataset before submitting the data to Darwing for automatic model construction. The general order of operations was to:

1) Import all necessary information

2) Clean the data

3) Create new features based on the data

4) Select a subset of data for analysis

5) Further clean the data based on the features of teh subset

6) Submit data to Darwin

7) Train a model with Darwin

8) Use the model to classify a test set

9) Analyze the accuracy of the test set

10) Analyze the model construction

## 1) Import all necessary information

Pandas, numpy, and datetime were imported to handle data and feature engineer. Pandas options were set to allow custom control of the size of all data presented.

In [1]:
import pandas as pd
import datetime
from datetime import timedelta
import numpy as np

#displays all datasets' columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

The Darwin sdk is then imported and a session with Darwin is started.

In [2]:
import pandas as pd
import numpy as np
from amb_sdk.sdk import DarwinSdk
s = DarwinSdk()
s.set_url('https://amb-demo-api.sparkcognition.com/v1/')
s.auth_login_user('dustincforsythe@utexas.edu','Rkje65JJyb')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTYwNjQwODMsImlhdCI6MTU1NjA1Njg4MywibmJmIjoxNTU2MDU2ODgzLCJqdGkiOiJjM2QyZDRiOS03OGJhLTRkZTUtOTZjOS0zNmU2NWZjMzZkNjIiLCJpZGVudGl0eSI6Ijk1MDhlMDQ2LTRmMzgtMTFlOS05ODE5LTQzZDZkODczZTBlNSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.G_FYBmURjk9tFV8W_PVntBteVLXZZnc-6nVYpgOnsfY')

The dataset is split among 11 different csv files by year, and compressed in the gzip format. These files are imported and concatednated into a single `raw` table.

In [3]:
#read in the storm datasets
s2008 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2008_c20180718.csv.gz', compression='gzip')
s2009 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2009_c20180718.csv.gz', compression='gzip')
s2010 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2010_c20170726.csv.gz', compression='gzip')
s2011 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2011_c20180718.csv.gz', compression='gzip')
s2012 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2012_c20170519.csv.gz', compression='gzip')
s2013 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz', compression='gzip')
s2014 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2014_c20180718.csv.gz', compression='gzip')
s2015 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2015_c20180525.csv.gz', compression='gzip')
s2016 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2016_c20180718.csv.gz', compression='gzip')
s2017 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2017_c20181219.csv.gz', compression='gzip')
s2018 = pd.read_csv('data_details/StormEvents_details-ftp_v1.0_d2018_c20190220.csv.gz', compression='gzip')


raw = pd.concat([s2008,s2009,s2010,s2011,s2012,s2013,s2014,s2015,s2016,s2017,s2018])
raw.head(10)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_RANGE,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,200802,22,1300,200802,22,2200,14216,79884,NEW HAMPSHIRE,33,2008,February,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,22-FEB-08 13:00:00,EST-5,22-FEB-08 22:00:00,0,0,0,0,0.00K,0.00K,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A noreaster moved up the coast southeast of Ca...,NaN,CSV
1,200804,1,352,200804,1,352,15549,88334,NEW HAMPSHIRE,33,2008,April,High Wind,Z,12,EASTERN HILLSBOROUGH,BOX,01-APR-08 03:52:00,EST-5,01-APR-08 03:52:00,0,0,0,0,0.00K,0.00K,Amateur Radio,52.00,MG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong southwest flow behind a warm front allo...,An amateur radio operator recorded a wind gust...,CSV
2,200803,1,0,200803,1,1320,14773,83820,NEW HAMPSHIRE,33,2008,March,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,01-MAR-08 00:00:00,EST-5,01-MAR-08 13:20:00,0,0,0,0,0.00K,0.00K,Trained Spotter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from the Great Lakes acro...,NaN,CSV
3,200801,14,500,200801,14,1700,13559,75727,NEW HAMPSHIRE,33,2008,January,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,14-JAN-08 05:00:00,EST-5,14-JAN-08 17:00:00,0,0,0,0,10.00K,0.00K,Trained Spotter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure moved up the Atlantic coast and s...,NaN,CSV
4,200812,19,1353,200812,21,200,25148,146588,NEW HAMPSHIRE,33,2008,December,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,19-DEC-08 13:53:00,EST-5,21-DEC-08 02:00:00,0,0,0,0,0.00K,0.00K,Trained Spotter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An intensifying coastal low spread heavy snow ...,Six to eight inches of snow fell across easter...,CSV
5,200812,11,412,200812,12,953,25173,146824,NEW HAMPSHIRE,33,2008,December,Ice Storm,Z,12,EASTERN HILLSBOROUGH,BOX,11-DEC-08 04:12:00,EST-5,12-DEC-08 09:53:00,0,0,0,0,15.00M,0.00K,Amateur Radio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A cold frontal boundary dropped south of New E...,Half an inch of ice accumulated on exposed sur...,CSV
6,200812,21,744,200812,21,2359,25154,146673,NEW HAMPSHIRE,33,2008,December,Heavy Snow,Z,12,EASTERN HILLSBOROUGH,BOX,21-DEC-08 07:44:00,EST-5,21-DEC-08 23:59:00,0,0,0,0,0.00K,0.00K,Trained Spotter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A coastal storm moved southeast of Nantucket i...,Seven to twelve inches of snow fell across eas...,CSV
7,200802,5,1615,200802,5,1615,12469,68371,ARKANSAS,5,2008,February,Hail,C,127,SCOTT,LZK,05-FEB-08 16:15:00,CST-6,05-FEB-08 16:15:00,0,0,0,0,0.00K,0.00K,Law Enforcement,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,HON,0.0,N,HON,34.930,-94.1800,34.9300,-94.1800,"Early on the 5th, a strong storm system approa...",NaN,CSV
8,200801,8,1320,200801,8,1320,11835,67398,ARKANSAS,5,2008,January,Thunderstorm Wind,C,95,MONROE,LZK,08-JAN-08 13:20:00,CST-6,08-JAN-08 13:20:00,0,0,0,0,NaN,NaN,Law Enforcement,50.00,EG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,HOLLY GROVE,0.0,N,HOLLY GROVE,34.600,-91.2000,34.6000,-91.2000,Severe thunderstorms affected a large part of ...,Trees and power lines were blown down.,CSV
9,200801,28,300,200801,28,500,12423,68005,ARIZONA,4,2008,January,Flood,C,19,PIMA,TWC,28-JAN-08 03:00:00,MST-7,28-JAN-08 05:00:00,0,0,0,0,0.00K,0.00K,Newspaper,NaN,NaN,Heavy Rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,W,CASCABEL,38.0,W,CASCABEL,32.375,-111.0101,32.3691,-111.0156,A trough of low pressure off the Western U.S. ...,A swift water rescue occurred about 4 am at th...,CSV

## 2) Clean the data

Small clarifications were made to the data, including the splitting of single concatenated columns into multiple columns. For code block stability, the data is copied.

In [4]:
data = raw.copy()

The year and month are originally concatenated into a single value, which needs to be split apart. For example, Janurary 2015 is representated as "201501."

In [5]:
# split and BEGIN_YEARMONTH + END_YEARMONTH columns into 2 columns each --> YEAR + MONTH
begin_year = data['BEGIN_YEARMONTH'].astype(str).str[:4]
begin_month = data['BEGIN_YEARMONTH'].astype(str).str[4:]
data['BEGIN_YEAR'] = begin_year
data['BEGIN_MONTH'] = begin_month

end_year = data['END_YEARMONTH'].astype(str).str[:4]
end_month = data['END_YEARMONTH'].astype(str).str[4:]
data['END_YEAR'] = end_year
data['END_MONTH'] = end_month

Convert the format of the time into an exact date usable by Darwin

In [6]:
# add begin and end dates and times in YYYY-MM-DD HH:MM:SS format
begin = data['BEGIN_YEAR'].map(str) + '-' + data['BEGIN_MONTH'].map(str) + '-' + data['BEGIN_DAY'].map(str) + ' '
hour = data['BEGIN_TIME'].astype(str).str[:-2]
hour = hour.apply(lambda x: '{0:0>2}'.format(x))
minute = data['BEGIN_TIME'].astype(str).str[-2:]
minute = minute.apply(lambda x: '{0:0>2}'.format(x))
time = hour.map(str) + ':' + minute.map(str) + ':00'
data['BEGIN'] = begin+time

end = data['END_YEAR'].map(str) + '-' + data['END_MONTH'].map(str) + '-' + data['END_DAY'].map(str) + ' '
e_hour = data['END_TIME'].astype(str).str[:-2]
e_hour = e_hour.apply(lambda x: '{0:0>2}'.format(x))
e_minute = data['END_TIME'].astype(str).str[-2:]
e_minute = e_minute.apply(lambda x: '{0:0>2}'.format(x))
e_time = e_hour.map(str) + ':' + e_minute.map(str) + ':00'
data['END'] = end+e_time

Add a duration column based on the begin and end times.

In [7]:
# add duration column
duration = pd.to_datetime(data['END']) - pd.to_datetime(data['BEGIN'])
                   
data['DURATION_seconds'] = ((duration.dt.total_seconds()))

Analyze the quality of the data to determine rows which has too few rows to keep.

In [8]:
num_records = len(data.index)
precent = data.isna().sum()/num_records*100
precent.to_frame('percent_na')

                    percent_na
BEGIN_YEARMONTH       0.000000
BEGIN_DAY             0.000000
BEGIN_TIME            0.000000
END_YEARMONTH         0.000000
END_DAY               0.000000
END_TIME              0.000000
EPISODE_ID            0.000000
EVENT_ID              0.000000
STATE                 0.000000
STATE_FIPS            0.000000
YEAR                  0.000000
MONTH_NAME            0.000000
EVENT_TYPE            0.000000
CZ_TYPE               0.000000
CZ_FIPS               0.000000
CZ_NAME               0.000000
WFO                   0.000000
BEGIN_DATE_TIME       0.000000
CZ_TIMEZONE           0.000000
END_DATE_TIME         0.000000
INJURIES_DIRECT       0.000000
INJURIES_INDIRECT     0.000000
DEATHS_DIRECT         0.000000
DEATHS_INDIRECT       0.000000
DAMAGE_PROPERTY      16.824127
DAMAGE_CROPS         17.326626
SOURCE                0.000000
MAGNITUDE            46.560582
MAGNITUDE_TYPE       65.518537
FLOOD_CAUSE          89.806164
CATEGORY             99.959502
TOR_F_SCALE          97.787369
TOR_LENGTH           97.787369
TOR_WIDTH            97.787369
TOR_OTHER_WFO        99.721776
TOR_OTHER_CZ_STATE   99.721776
TOR_OTHER_CZ_FIPS    99.721776
TOR_OTHER_CZ_NAME    99.721776
BEGIN_RANGE          36.623917
BEGIN_AZIMUTH        36.623917
BEGIN_LOCATION       36.623917
END_RANGE            36.623917
END_AZIMUTH          36.623917
END_LOCATION         36.623917
BEGIN_LAT            36.623917
BEGIN_LON            36.623917
END_LAT              36.623917
END_LON              36.623917
EPISODE_NARRATIVE     0.000000
EVENT_NARRATIVE      27.938162
DATA_SOURCE           0.000000
BEGIN_YEAR            0.000000
BEGIN_MONTH           0.000000
END_YEAR              0.000000
END_MONTH             0.000000
BEGIN                 0.000000
END                   0.000000
DURATION_seconds      0.000000

Drop applicable rows.

In [9]:
#drops
data_narrow = data.drop(["BEGIN_YEARMONTH", # Redundant with begin
          "END_YEARMONTH", # Redundant with end
          "EPISODE_ID", # Unique key without meaning to the event
          "EVENT_ID", # Primary key without meaning to the vent
          "STATE_FIPS", # Redundant with state name
          "BEGIN_DAY", # redundant with begin
          "BEGIN_TIME", # redundant with begin
          "END_DAY", # redundant with end
          "END_TIME", # redundant with end
          
          "CATEGORY", # Mostly missing
          "CZ_TYPE", # Unknown meaning
          "CZ_FIPS", # Redundant with CZ Name
          "TOR_OTHER_WFO", # Mostly missing
          "TOR_OTHER_CZ_NAME", # Mostly missing
          "TOR_OTHER_CZ_STATE", # Mostly missing
          "TOR_OTHER_CZ_FIPS", # mostly missing
          "DATA_SOURCE", # Unrelated to predicted variable
          
          "WFO", # Unknown meaning
          "END_DATE_TIME", # Redundant with end
          "CZ_TIMEZONE", # Unusable
          "BEGIN_RANGE", # Redundant with begin location
          "END_RANGE", # Redundant with end location
          "BEGIN_AZIMUTH", # Redundant with begin location
          "END_AZIMUTH", # Redundant with end location
          "BEGIN_YEAR", # Redundant with begin
          "BEGIN_MONTH", # Redudant with begin
          "END_YEAR", # Redundant with end
          "END_MONTH", # Redundant with end
          "BEGIN", # Redundant with begin_date_time
          "END"], axis=1) # redundant with end_date_time

print(data_narrow.columns)

Index(['STATE', 'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_NAME',
       'BEGIN_DATE_TIME', 'INJURIES_DIRECT', 'INJURIES_INDIRECT',
       'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS',
       'SOURCE', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_LOCATION', 'END_LOCATION',
       'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EPISODE_NARRATIVE',
       'EVENT_NARRATIVE', 'DURATION_seconds'],
      dtype='object')

The native format of the `DAMAGE_PROPERTY` and `DAMAGE_CROPS` columns is a three-digit decimal with a K, M, or B trailing to denote thousands, millions, or billions of US dollars of damage. This converts the string into a float value.

It was assumed that if there was no entry for the value, the input was intended to be a $0 value.

In [10]:
#change DAMAGE_PROPERTY and DAMAGE_CROPS type from #.##K to float
def convertToFloat(x):
    x = str(x)
    if(x[-1]=='K'):
        return(float(x[0:-1])*1000)
    elif(x[-1]=='M'):
        return(float(x[0:-1])*1000000)
    elif(x[-1]=='B'):
        return(float(x[0:-1])*1000000000)
    else:
        return(0.0)

data_narrow['DAMAGE_PROPERTY'].fillna(0.0, inplace=True)
data_narrow['DAMAGE_PROPERTY'] = data['DAMAGE_PROPERTY'].apply(convertToFloat)

data_narrow['DAMAGE_CROPS'].fillna(0.0, inplace=True)
data_narrow['DAMAGE_CROPS'] = data['DAMAGE_CROPS'].apply(convertToFloat)

Because the location data was deemed to be important, rows without location data were dropped. This decreased the dataset size by 250,501 rows or 37%.

In [11]:
data_short = data_narrow.copy()
data_short = data_narrow.dropna(axis='rows',subset=['BEGIN_LOCATION','END_LOCATION'])
print("Rows dropped: " + str(len(data_narrow.index) - len(data_short.index)))

Rows dropped: 250501

Drop other predicted variables, to only leave valid predictors.

In [12]:
data_clean = data_short.drop(["INJURIES_DIRECT", 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'DAMAGE_CROPS'],axis=1)

## 3) Feature Engineering

The wind speed and hail size were placed in the same `MAGNITUDE` column. These were parsed into the `WIND_SPEED` and `HAIL_SIZE` columns dependent on the `MAGNITUDE TYPE`.

In [13]:
data_clean['WIND_SPEED'] = np.where(data_clean['MAGNITUDE_TYPE'].isin(['MG','EG']), data_clean['MAGNITUDE'], np.NaN)
data_clean['HAIL_SIZE'] = np.where(data_clean['MAGNITUDE_TYPE'].isna(), data_clean['MAGNITUDE'], np.NaN)
data_clean.head()

,STATE,YEAR,MONTH_NAME,EVENT_TYPE,CZ_NAME,BEGIN_DATE_TIME,DAMAGE_PROPERTY,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,BEGIN_LOCATION,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DURATION_seconds,WIND_SPEED,HAIL_SIZE
7,ARKANSAS,2008,February,Hail,SCOTT,05-FEB-08 16:15:00,0.0,Law Enforcement,1.75,NaN,NaN,NaN,NaN,NaN,HON,HON,34.930,-94.1800,34.9300,-94.1800,"Early on the 5th, a strong storm system approa...",NaN,0.0,NaN,1.75
8,ARKANSAS,2008,January,Thunderstorm Wind,MONROE,08-JAN-08 13:20:00,0.0,Law Enforcement,50.00,EG,NaN,NaN,NaN,NaN,HOLLY GROVE,HOLLY GROVE,34.600,-91.2000,34.6000,-91.2000,Severe thunderstorms affected a large part of ...,Trees and power lines were blown down.,0.0,50.0,NaN
9,ARIZONA,2008,January,Flood,PIMA,28-JAN-08 03:00:00,0.0,Newspaper,NaN,NaN,Heavy Rain,NaN,NaN,NaN,CASCABEL,CASCABEL,32.375,-111.0101,32.3691,-111.0156,A trough of low pressure off the Western U.S. ...,A swift water rescue occurred about 4 am at th...,7200.0,NaN,NaN
11,ILLINOIS,2008,December,Thunderstorm Wind,IROQUOIS,27-DEC-08 14:04:00,0.0,Public,65.00,EG,NaN,NaN,NaN,NaN,ASHKUM,ASHKUM,40.880,-87.9500,40.8800,-87.9500,Heavy rain fell across northern Illinois durin...,A farmer reported buildings and vehicles moved...,0.0,65.0,NaN
12,LAKE MICHIGAN,2008,December,Marine Thunderstorm Wind,GARY TO BURNS HARBOR IN,27-DEC-08 15:20:00,0.0,C-MAN Station,39.00,MG,NaN,NaN,NaN,NaN,BURNS HARBOR,BURNS HARBOR,41.647,-87.1470,41.6470,-87.1470,Strong thunderstorms moved across parts of far...,NaN,0.0,39.0,NaN

Beyond this point, it made sense that each type of event should grouped into larger weather categories for analysis. This was because the dataset was a union of many different types of events that likely had different methods of describing them and different input information.

To begin this analysis, the most common events or events with the most details were chosen. The most frequent events are described below.

In [14]:
data_clean['EVENT_TYPE'].value_counts()

Thunderstorm Wind           172886
Hail                        129295
Flash Flood                  41935
Flood                        27206
Marine Thunderstorm Wind     18047
Tornado                      15134
Heavy Rain                   14779
Lightning                     6264
Funnel Cloud                  4102
Waterspout                    2238
Debris Flow                    583
Marine High Wind               401
Marine Hail                    374
Dust Devil                     123
Marine Strong Wind             113
Marine Lightning                 1
Name: EVENT_TYPE, dtype: int64

Based on this, the following groupings were created.

**Wind:**
* Thunderstorm Wind
* High Wind
* Marine Thunderstorm Wind
* Marine High Wind
* Marine Strong Wind

**Rain:**
* Heavy Rain

**Hail:**
* Hail
* Marine Hail

**Flood:**
* Flash Flood
* Flood

**Tornado:**
* Tornado

The final engineered feature would be artificatial binning of the property damage. This is because the property damage values appeared to be heavily rounded already. However, because this is left to each individual model because there was not a single appropriate binning for all categories of weather events.

Instead, the data was written to a csv to be used by the other model construction processes.

In [15]:
data_clean.to_csv('clean_storm_dataset.csv',index=False)