In [14]:
import numpy as np

import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


from amb_sdk.sdk import DarwinSdk
s = DarwinSdk()
s.set_url('https://amb-demo-api.sparkcognition.com/v1/')
s.auth_login_user('','')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU0NTAxNTYsImlhdCI6MTU1NTQ0Mjk1NiwibmJmIjoxNTU1NDQyOTU2LCJqdGkiOiIzZTcyM2E2OS01ZWQwLTQ0Y2QtYjdlYS02MGM1MjE4ZGU3MzEiLCJpZGVudGl0eSI6Ijk1MDhlMDQ2LTRmMzgtMTFlOS05ODE5LTQzZDZkODczZTBlNSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.NTXeo3PXvsufZQbDMwQiQnjxm6EHkI7v6CsOX8m1ccQ')

In [1]:
#read in the storm datasets
import pandas as pd
import os

os.chdir('data_details') # change directory to dir holding details data

tables = []
for file in os.listdir():
    tables.append(pd.read_csv(file, compression='gzip'))

os.chdir('../')

data = pd.concat(tables)

print(data.shape)
data.head(10)

(683982, 51)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,200802,22,1300,200802,22,2200,14216,79884,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A noreaster moved up the coast southeast of Ca...,NaN,CSV
1,200804,1,352,200804,1,352,15549,88334,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong southwest flow behind a warm front allo...,An amateur radio operator recorded a wind gust...,CSV
2,200803,1,0,200803,1,1320,14773,83820,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure tracked from the Great Lakes acro...,NaN,CSV
3,200801,14,500,200801,14,1700,13559,75727,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure moved up the Atlantic coast and s...,NaN,CSV
4,200812,19,1353,200812,21,200,25148,146588,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An intensifying coastal low spread heavy snow ...,Six to eight inches of snow fell across easter...,CSV
5,200812,11,412,200812,12,953,25173,146824,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A cold frontal boundary dropped south of New E...,Half an inch of ice accumulated on exposed sur...,CSV
6,200812,21,744,200812,21,2359,25154,146673,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A coastal storm moved southeast of Nantucket i...,Seven to twelve inches of snow fell across eas...,CSV
7,200802,5,1615,200802,5,1615,12469,68371,ARKANSAS,5,...,0.0,N,HON,34.930,-94.1800,34.9300,-94.1800,"Early on the 5th, a strong storm system approa...",NaN,CSV
8,200801,8,1320,200801,8,1320,11835,67398,ARKANSAS,5,...,0.0,N,HOLLY GROVE,34.600,-91.2000,34.6000,-91.2000,Severe thunderstorms affected a large part of ...,Trees and power lines were blown down.,CSV
9,200801,28,300,200801,28,500,12423,68005,ARIZONA,4,...,38.0,W,CASCABEL,32.375,-111.0101,32.3691,-111.0156,A trough of low pressure off the Western U.S. ...,A swift water rescue occurred about 4 am at th...,CSV

In [16]:
pd.value_counts(data.EVENT_TYPE)

Thunderstorm Wind             172886
Hail                          129295
Flash Flood                    41935
Winter Weather                 40823
Winter Storm                   34756
Drought                        33532
High Wind                      33228
Flood                          27206
Heavy Snow                     25068
Marine Thunderstorm Wind       18047
Tornado                        15134
Heavy Rain                     14779
Strong Wind                    11172
Heat                            8108
Extreme Cold/Wind Chill         7538
Blizzard                        7482
Frost/Freeze                    7176
Dense Fog                       6990
Lightning                       6264
Excessive Heat                  6255
Cold/Wind Chill                 5069
High Surf                       5001
Funnel Cloud                    4102
Wildfire                        4018
Ice Storm                       3433
Tropical Storm                  2590
Waterspout                      2238
Coastal Flood                   1921
Lake-Effect Snow                1718
Rip Current                      740
Dust Storm                       701
Debris Flow                      583
Astronomical Low Tide            457
Storm Surge/Tide                 451
Marine High Wind                 401
Marine Hail                      374
Tropical Depression              337
Avalanche                        330
Sleet                            311
Landslide                        295
Freezing Fog                     240
Hurricane                        153
Marine Tropical Storm            133
Hurricane (Typhoon)              124
Dust Devil                       123
Marine Strong Wind               113
Dense Smoke                       78
Volcanic Ashfall                  68
Lakeshore Flood                   61
Marine Hurricane/Typhoon          44
Seiche                            42
Tsunami                           28
Sneakerwave                       15
Marine Dense Fog                   8
Marine Tropical Depression         7
Marine Lightning                   1
Name: EVENT_TYPE, dtype: int64

In [35]:
print(data.BEGIN_LOCATION.isna().sum())
print(data.END_LOCATION.isna().sum())
data_new = data[pd.notnull(data['BEGIN_LOCATION'])]
print(data_new.shape)
print(data_new.BEGIN_LOCATION.isna().sum())
print(data_new.END_LOCATION.isna().sum())
pd.value_counts(data.EVENT_TYPE)

250501
250501
(433481, 51)
0
0

Thunderstorm Wind             172886
Hail                          129295
Flash Flood                    41935
Winter Weather                 40823
Winter Storm                   34756
Drought                        33532
High Wind                      33228
Flood                          27206
Heavy Snow                     25068
Marine Thunderstorm Wind       18047
Tornado                        15134
Heavy Rain                     14779
Strong Wind                    11172
Heat                            8108
Extreme Cold/Wind Chill         7538
Blizzard                        7482
Frost/Freeze                    7176
Dense Fog                       6990
Lightning                       6264
Excessive Heat                  6255
Cold/Wind Chill                 5069
High Surf                       5001
Funnel Cloud                    4102
Wildfire                        4018
Ice Storm                       3433
Tropical Storm                  2590
Waterspout                      2238
Coastal Flood                   1921
Lake-Effect Snow                1718
Rip Current                      740
Dust Storm                       701
Debris Flow                      583
Astronomical Low Tide            457
Storm Surge/Tide                 451
Marine High Wind                 401
Marine Hail                      374
Tropical Depression              337
Avalanche                        330
Sleet                            311
Landslide                        295
Freezing Fog                     240
Hurricane                        153
Marine Tropical Storm            133
Hurricane (Typhoon)              124
Dust Devil                       123
Marine Strong Wind               113
Dense Smoke                       78
Volcanic Ashfall                  68
Lakeshore Flood                   61
Marine Hurricane/Typhoon          44
Seiche                            42
Tsunami                           28
Sneakerwave                       15
Marine Dense Fog                   8
Marine Tropical Depression         7
Marine Lightning                   1
Name: EVENT_TYPE, dtype: int64